
.card {
    color: red;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    

}
.card h1{
    color: white;
    font-weight: bold;
}
.card img{
    width: 20rem;
    height: 30rem;
    transform: translateY(-10%);
}
