.footer {
  background-color: #1b5e20;
  color: white;
  text-align: center;
  padding: 2rem, 1rem;
  margin-top: 1.5rem;
}

.footer-title {
  /* margin-bottom: 10px; */
  font-size: 1rem;
}

.footer-text {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.footer-copy {
  font-size: 0.8rem;
  opacity: 0.8;
}

.back-to-top {
  position: fixed;  
  bottom: 20px;
  right: 20px;

  background-color: #1b5e20;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;

  text-decoration: none;
  font-size: 14px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.back-to-top:hover {
  background-color: #2e7d32;
}