.nav-logo {
  width: 100px;
  margin-right: 7px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1b5e20;
  align-items: center;
  padding: 1rem;
}

.title {
  color: white;
  margin: 0;
}

.nav-link {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
