    @font-face {
    font-family: 'Ringbearer';
        src: url('/fonts/ringbearer-font/RingbearerMedium-51mgZ.ttf') format('truetype');
    }

.hero {
    text-align: center;
    margin: 20px;

}

.hero-text {
    color: white;
    padding: 20px;
    position: relative;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    font-family: 'Ringbearer';

}

.hero p {
    font-size: 1.1rem;
}

.hero-img {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
